.path, .rune {
  display: flex;
}
.items {
  margin-left: 1rem;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}
.selected--path {
  position: relative;
  min-width: 185px !important;
  min-height: 185px !important;
}

.path__item {
  display: block;
  width: calc(64px + 2rem);
  height: calc(64px + 2rem);
}

.rune__item {
  padding: .2rem;
  display: block;
  filter: grayscale(100%);
  max-width: calc(64px + .4rem);
  max-height: calc(64px + .4rem);
  width: calc(64px + .4rem);
  height: calc(64px + .4rem);
  min-width: calc(64px + .4rem);
  min-height: calc(64px + .4rem);
  border-radius: 50%;
  position: relative;
  background-color: black;
}
.selected-rune {
  filter: none !important;
}
.domination {
  .rune__item {
    border: 3px solid rgb(102, 28, 28);
  }
}

.resolve {
  .rune__item {
    border: 3px solid rgb(13, 99, 48);
  }
}

.precision {
  .rune__item {
    border: 3px solid rgb(150, 96, 15);
  }
}

.sorcery {
  .rune__item {
    border: 3px solid rebeccapurple;
  }
}

.inspiration {
  .rune__item {
    border: 3px solid rgb(28, 67, 102);
  }
}

.keystone {
  padding: 0 !important;
  min-width: 90px !important;
  min-height: 90px !important;
}

img {
  display: none;
}

.path--blank {
  display: initial;
  position: absolute;
  top: 0;
  left: 0;
  animation: glow 60s infinite linear both;
}

@keyframes glow {
  from {
    transform: rotateZ(0deg);
    filter: hue-rotate(0deg) brightness(50%);
  }
  to {
    transform: rotateZ(360deg);
    filter: hue-rotate(360deg) brightness(400%);
  }
}
