<ul>
  <li><span>ad:</span>{{champStats.attackdamage}}(+{{champStats.attackdamageperlevel}})</li>
  <li><span>as:</span>{{champStats.attackspeed}}(+{{champStats.attackspeedperlevel}})</li>
  <li><span>armor:</span>{{champStats.armor}}(+{{champStats.armorperlevel}})</li>
  <li><span>mr:</span>{{champStats.spellblock}}(+{{champStats.spellblockperlevel}})</li>
  <li><span>hp:</span>{{champStats.hp}}(+{{champStats.hpperlevel}})</li>
  <li><span>hpregen:</span>{{champStats.hpregen}}(+{{champStats.hpregenperlevel}})</li>
  <li><span>mana:</span>{{champStats.mp}}(+{{champStats.mpperlevel}})</li>
  <li><span>manaregen:</span>{{champStats.mpregen}}(+{{champStats.mpregenperlevel}})</li>
  <li><span>range:</span>{{champStats.attackrange}}</li>
  <li><span>crit:</span>{{champStats.crit}}(+{{champStats.critperlevel}})</li>
  <li><span>ms:</span>{{champStats.movespeed}}</li>
</ul>
