:host {
  font-size: .8rem;
}
.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  height: 25px;
  width: 25px;
}

ul {
  width: 400px;
  min-width: 200px;
  padding: 0;
}

li {
  margin: .3rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;

  .stat {
    letter-spacing: 1px;
    font-weight: 600;
  }

  .value {
    font-weight: 700;
    margin-left: auto;

    .per-level {
      font-weight: 300;
      color: #f4bb8a;
    }
  }

}
