<ul *ngIf="champStats">
  <li>
    <img src="https://raw.communitydragon.org/latest/game/assets/perks/statmods/statmodsattackdamageicon.png" alt="ad">
    <span class="stat">attack damage</span>
    <span class="value">{{champStats.attackdamage}} <span class="per-level">(+{{champStats.attackdamageperlevel}}
      )</span></span>
  </li>
  <li>
    <img [src]="statImgUrl+'statmodsattackspeedicon.png'" alt="as">
    <span class="stat">atack speed</span>
    <span class="value">{{champStats.attackspeed}} <span class="per-level">(+{{champStats.attackspeedperlevel}})</span></span>
  </li>
  <li>
    <img [src]="statImgUrl+'statmodsarmoricon.png'" alt="armour">
    <span class="stat">armor</span>
    <span class="value">{{champStats.armor}} <span class="per-level">(+{{champStats.armorperlevel}})</span></span>
  </li>
  <li>
    <img [src]="statImgUrl+'statmodsmagicresicon.png'" alt="mr">
    <span class="stat">magic resist</span>
    <span class="value">{{champStats.spellblock}} <span class="per-level">(+{{champStats.spellblockperlevel}})</span></span>
  </li>
  <li>
    <img [src]="statImgUrl+'statmodshealthscalingicon.png'" alt="hp">
    <span class="stat">health</span>
    <span class="value">{{champStats.hp}} <span class="per-level">(+{{champStats.hpperlevel}})</span></span>
  </li>
  <li>
    <img [src]="statImgUrl+'statmodshealthscalingicon.png'" alt="hpregen">
    <span class="stat">health regen</span>
    <span class="value">{{champStats.hpregen}}<span class="per-level"> (+{{champStats.hpregenperlevel}})</span></span>
  </li>
  <li>
    <img src="https://raw.communitydragon.org/latest/game/assets/perks/statmods/statmodsabilitypowericon.png"
         alt="mana">
    <span class="stat">mana</span>
    <span class="value">{{champStats.mp}} <span class="per-level">(+{{champStats.mpperlevel}})</span></span>
  </li>
  <li>
    <img src="https://raw.communitydragon.org/latest/game/assets/perks/statmods/statmodsabilitypowericon.png"
         alt="manaregen">
    <span class="stat">mana regen</span>
    <span class="value">{{champStats.mpregen}} <span class="per-level">(+{{champStats.mpregenperlevel}})</span></span>
  </li>
  <li>
    <img [src]="'https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-match-history/global/default/kills.png'" alt="range">
    <span class="stat">attack range</span>
    <span class="value">{{champStats.attackrange}}</span>
  </li>
  <li>
    <img src="https://raw.communitydragon.org/latest/game/assets/perks/statmods/statmodsmovementspeedicon.png"
         alt="ms">
    <span class="stat">movement speed</span>
    <span class="value">{{champStats.movespeed}}</span>
  </li>
</ul>
