<div class="container" (wheel)="$event.stopPropagation()">
  <p class="hint" *ngIf="!builds.length">Click NEW to add a new build...</p>
  <app-build-list-item
    *ngFor="let build of builds | paginate: {itemsPerPage: 4, currentPage: page}"
    (click)="selectBuild(build)"
    [build]="build">
  </app-build-list-item>

  <nav class="paginator">
    <pagination-controls *ngIf="builds.length" class="pagination--controls" (pageChange)="page = $event"></pagination-controls>
    <button class="add-build" (click)="navigate()"><span data-text="new">new</span></button>
  </nav>
</div>
