@import "abstracts/variables";
.hint {
  font-size: 1.8rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.build-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  .build-list--content {
    align-self: center;
    justify-content: center;
    height: 50vh;
    overflow-y: scroll;
    width: 60%;
    min-width: 400px;
    flex-grow: 4;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
  }
}
.paginator {
  align-self: center;
  width: 60%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-build {
  display: block;
  padding: .5rem 1rem;
  background-color: transparent;
  border: 2px solid $color6;
  margin-left: auto;
  &:hover {
    background-color: black;
  }
}
