<div class="path">
  <app-keystone class="path__item selected--path" [item]="currentPath" (click)="toggleSelection()"></app-keystone>
  <div class="items" *ngIf="pathSelectionOpened">
    <app-keystone
      *ngFor="let path of runesService.runePaths"
      class="path__item"
      [item]="path"
      (click)="select(path)"
    >
    </app-keystone>
  </div>
</div>

<div class="rune" *ngFor="let slot of runeSlots; let i = index" [ngClass]="currentPath.path | lowercase">
  <app-keystone
    class="rune__item selected-rune"
    [ngClass]="{'keystone': i===0}"
    [item]="selectedRunes[i]"
    (click)="toggleSelection(i)">
  </app-keystone>
  <div class="items" *ngIf="slotSelectionOpened[i]">
    <app-keystone
      *ngFor="let rune of slot"
      class="rune__item"
      [item]="rune"
      [ngClass]="{'selected-rune': isSelected(rune)}"
      (click)="select(rune, i)">
    </app-keystone>
  </div>
</div>
