//dashboard color theme
$blue: #19194d;
$olympic-white: lightgoldenrodyellow;
$gradient-1: rgba(136,221,237,1);
$gradient-2: rgba(11,217,118,1);
$gradient-3: rgba(1,233,238,1);
$gradient-4: rgba(73,180,153,1);
