  <div class="content" *ngIf="userChampion.notes.length" (wheel)="$event.stopPropagation()">
    <app-note-item
      *ngFor="let note of userChampion?.notes" [note]="note"
      (click)="editNote(note); $event.stopPropagation()"
    >
    </app-note-item>
    <div class="controls">
    </div>
  </div>
  <p class="hint" *ngIf="!userChampion.notes.length">You have not added any notes yet...</p>
<nav class="bottom-nav">
  <button class="add-button" (click)="editNote(null); $event.stopPropagation()"><span data-text="add note">add note</span></button>
</nav>
<app-ability-modal *ngIf="formOpened" (modalClose)="closeForm()">
  <app-note-form></app-note-form>
</app-ability-modal>

