@import "abstracts/mixins";
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  overflow-y: auto;
}
.hint {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bottom-nav {
  height: 70px;
  background-color: rgba(1,1,1,.7);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .add-button {
    font-size: 1rem;
    width: 30%;
    margin-right: 1rem;
    @include skewed-glitching;
  }
}
