<div class="wrapper">
  <h1>NOTES</h1>
  <div class="content" *ngIf="userChampion.notes.length">
    <app-note-item
      *ngFor="let note of userChampion?.notes" [note]="note"
      (click)="editNote(note); $event.stopPropagation()"
    >
    </app-note-item>
    <div class="controls">
    </div>
  </div>
  <p class="hint" *ngIf="!userChampion.notes.length">You have not added any notes yet...</p>
  <button class="add-button" (click)="editNote(null); $event.stopPropagation()">Add note</button>
</div>

<app-ability-modal *ngIf="formOpened" (modalClose)="closeForm()">
  <app-note-form></app-note-form>
</app-ability-modal>

