<div class="secondary-path">
  <div class="path">
    <app-keystone [item]="currentPath" (click)="togglePathSelection()"></app-keystone>
    <ng-container *ngIf="pathSelectionOpened">
      <app-keystone
        *ngFor="let path of secondaryPaths$ | async"
        [item]="path"
        (click)="select(path)"
      >
      </app-keystone>
    </ng-container>
  </div>
  <div class="rune-select">
    <div *ngIf="currentPath">
      <app-keystone [item]="selectedRunes[0]" (click)="toggleRuneSelection(0)"></app-keystone>
      <app-keystone [item]="selectedRunes[1]" (click)="toggleRuneSelection(1)"></app-keystone>
    </div>
    <div class="rune-palette" *ngIf="runeSelectionOpen">
      <div class="rune-slot" *ngFor="let slot of runeSlots">
        <app-keystone
          *ngFor="let rune of slot"
          class="rune"
          [item]="rune"
          [ngClass]="{'selected-rune': isSelected(rune)}"
          (click)="select(rune)">
        </app-keystone>
      </div>
    </div>
  </div>
</div>
