<section class="carousel">
  <div class="image--wrapper">
    <ul class="image-container" [ngStyle]="{'transform': 'translateX('+currentSlide*-100+'%)'}"
    >
      <li
        *ngFor="let skin of champion.skins"
        class="image-item"
      >
        <p class="skin-name">{{skin.name}}</p>
        <img
          class="image"
          src="{{skinUrl}}{{champion?.key}}/{{skin?.id}}.jpg"
          alt="{{champion?.name}}">
      </li>
    </ul>
    <button class="next" (click)="next()"></button>
    <button class="prev" (click)="prev()"></button>
  </div>
</section>
