@import "abstracts/variables";

$image-width: 70vw;
$image-max-width: 730px;
:host {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  overflow: hidden;
  width: $image-width;
  max-width: $image-max-width;

  ul.image-container {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    transition: transform .6s ease-in-out;
  }
}
.image {
  width: $image-width;
  max-width: $image-max-width;
}

.skin-name {
  padding-left: .5rem;
  font-size: .8rem;
  margin: 0;
  background-color: rgba(1,1,1, .6);
  text-transform: uppercase;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.image--wrapper {

  position: relative;

  button {
    border-radius: 5px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2rem;
    width: 2.2rem;
    background-color: rgba(1,1,1,.7);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &::after {
      content: '';
      display: block;
      width: 1rem;
      height: 1rem;
      background-color: $olympic-white;
    }
  }
  .prev {
    left: .3rem;
    &::after {
      clip-path: polygon(100% 0, 15% 50%, 100% 100%, 85% 100%, 0 50%, 85% 0);
    }
  }
  .next {
    right: .3rem;
    &::after {
      clip-path: polygon(15% 0, 100% 50%, 15% 100%, 0 100%, 85% 50%, 0 0);
    }
  }
}
