@import "abstracts/variables";
@import "abstracts/mixins";

.foreground {
  padding: 4vw;
  min-width: 200px;
  max-width: 450px;
  margin: 0 2rem;
  background-color: black;
  border: 2px solid $error-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 70px;
    filter: contrast(0) brightness(.2) sepia(1) hue-rotate(-40deg) saturate(15);
  }

  .error-message {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    font-size: .8rem;
  }
}
button {
  padding: .5rem 1rem;
  background: transparent;
  border: 2px solid $error-color;
  transform: skew(-20deg);
    &:hover,
    &:focus {
      color: $error-color;
    }
  .skew-fix {
    font-size: 1rem;
    color: inherit;
    display: inline-block;
    transform: skew(20deg);
  }
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(1, 1, 1, .6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.glitch {
  color: $error-color;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: .5rem;
  @include glitch;
    &::before {
      left: 2px;
      animation: glitch-anim-1 4s infinite linear alternate-reverse;
      background-color: black;
    }
    &::after {
      left: -2px;
      animation: glitch-anim-2 4s infinite linear alternate-reverse;
      background: black
    }
}
