<div class="main--wrapper">
  <div class="content" [overflows]="videoWrapper">
    <span class="spellPassive"><span class="passive-title">PASSIVE: {{passive.name}}</span></span>
    <p class="passive-desc" [innerHTML]="passive.description"></p>
  </div>
  <div class="video--wrapper" #videoWrapper>
    <video class="ability-video"  [src]="spellVideoUrl" #video>
    </video>
    <div class="controls">
      <button *ngIf="!isPlaying" class="control play" (click)="play(); $event.stopPropagation()"></button>
      <button *ngIf="isPlaying" class="control pause" (click)="pause()"></button>
    </div>
  </div>
</div>
