@import "abstracts/variables";
* {
  margin: 0;
  padding: 0;
}
.wrapper {
  z-index: $search-index;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0,0,0,.7);
  height: 60px;
  ul {
    width: 100%;
    list-style-type: none;
    max-height: 50vh;
    overflow: auto;
    li {
      background-color: rgba(0,0,0,.7);
      border-bottom: 2px solid black;
    }
  }
}
.input--search {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  padding: 1rem;
}
.hide {
  display: none;
}


