<div class="wrapper">
  <input
    class="input--search"
    type="search"
    placeholder="Search for a champion..."
    #search
  >
  <ul (clickOutside)="close()" [ngClass]="{'hide': !isOpened}">
    <li
      *ngFor="let result of results$ | async"
      (click)="goToDetails(result.name)"
    >
      <img
        src="http://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{result.id}}.png"
        alt="{{result.name}}">
      {{result.name}}
    </li>
  </ul>
</div>
