<main tabindex="1" class="slide--container" (wheel)="onWheel($event)" #main>
  <app-burger-nav class="nav__main" [main]="true">
    <li (click)="scrollToElement(overview)"
        [ngClass]="{'active-link': currentElement===overview}">
      overview
    </li>
    <li
      (click)="scrollToElement(spells)"
      [ngClass]="{'active-link': currentElement===spells}">
      spells
    </li>

    <li
      (click)="scrollToElement(builds)"
      [ngClass]="{'active-link': currentElement===builds}">
      builds
    </li>

    <li
      (click)="scrollToElement(notes)"
      [ngClass]="{'active-link': currentElement===notes}">
      notes
    </li>

  </app-burger-nav>
  <section class="slide overview" [appSlide]="currentElement" #overview>
    <header class="champion--header">
      <img class="img-portrait"
           [src]="'http://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/'+champion.key+'.png'"
           alt="champion-portrait">
      <div>
        <h1 class="champion--name">{{champion.name}}</h1>
        <h2 class="champion--title">{{champion.title}}</h2>
      </div>
      <nav class="nav--inner">
        <ul class="standard-nav">
          <li>
            <a [routerLink]="[ {outlets: { overview: ['stats']}}]">stats</a>
          </li>
          <li>
            <a [routerLink]="[ {outlets: { overview: ['skins']}}]">skins</a>
          </li>
          <li>
            <a [routerLink]="[ {outlets: { overview: 'history'}}]">history</a>
          </li>
        </ul>
        <app-burger-nav class="burger-nav">
          <li>
            <a [routerLink]="[ {outlets: { overview: ['stats']}}]">stats</a>
          </li>
          <li>
            <a [routerLink]="[ {outlets: { overview: ['skins']}}]">skins</a>
          </li>
          <li>
            <a [routerLink]="[ {outlets: { overview: 'history'}}]">history</a>
          </li>
        </app-burger-nav>
      </nav>
    </header>
    <article class="section--article">
      <router-outlet name="overview"></router-outlet>
    </article>
  </section>
  <section class="slide spells" [appSlide]="currentElement" #spells>
    <article class="section--article">
      <app-section-spells [champion]="champion"></app-section-spells>
    </article>
  </section>
  <section class="slide builds" [appSlide]="currentElement" #builds>
    <nav class="nav--build">
      <ul>
        <li>
          <a class="a--items" [routerLink]="[ {outlets: { builds: null}}]">
            <span>&lsaquo;</span> items</a>
        </li>
        <li>
          <a class="a--runes" [routerLink]="[ {outlets: { builds: 'runes'}}]">runes
            <span>&rsaquo;</span></a>
        </li>
      </ul>
    </nav>
    <article class="section--article article--builds">
      <router-outlet name="builds"></router-outlet>
    </article>
  </section>
  <section class="slide notes" [appSlide]="currentElement" #notes>
    <app-note-list [userChampion]="userChampion"></app-note-list>
  </section>
</main>


<nav class="sidebar">
  <ul>
    <li class="nav__item"
        (click)="scrollToElement(overview)"
        [ngClass]="{'active-link': currentElement===overview}">
      <span class="anchor-text">overview</span></li>

    <li class="nav__item"
        (click)="scrollToElement(spells)"
        [ngClass]="{'active-link': currentElement===spells}">
      <span class="anchor-text">spells</span></li>

    <li class="nav__item"
        (click)="scrollToElement(builds)"
        [ngClass]="{'active-link': currentElement===builds}">
      <span class="anchor-text">builds</span></li>

    <li class="nav__item"
        (click)="scrollToElement(notes)"
        [ngClass]="{'active-link': currentElement===notes}">
      <span class="anchor-text">notes</span></li>

  </ul>
</nav>
