<main class="slide--container" (wheel)="onWheel($event)">
  <section class="slide overview" [appSlide]="currentElement" #overview>
    <header class="champion--header">
      <img class="img-portrait"[src]="'http://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/'+champion.key+'.png'" alt="champion-portrait">
      <div>
        <h1 class="champion--name">{{champion.name}}</h1>
        <h2 class="champion--title">{{champion.title}}</h2>
      </div>
    <nav class="nav--inner">
      <ul>
        <li>
          <a [routerLink]="[ {outlets: { overview: ['stats']}}]">stats</a>
        </li>
        <li>
          <a [routerLink]="[ {outlets: { overview: ['skins']}}]">skins</a>
        </li>
        <li>
          <a [routerLink]="[ {outlets: { overview: 'history'}}]">history</a>
        </li>
      </ul>
    </nav>
    </header>
    <article class="section--article">
        <router-outlet name="overview"></router-outlet>
    </article>
  </section>
  <section class="slide spells" [appSlide]="currentElement" #spells>
    <article class="section--article">
      <app-section-spells [champion]="champion"></app-section-spells>
    </article>
  </section>
  <section class="slide builds" [appSlide]="currentElement" #builds>
    <nav class="nav--build">
      <ul>
        <li>
          <a [routerLink]="[ {outlets: { builds: null}}]">items</a>
        </li>
        <li>
          <a [routerLink]="[ {outlets: { builds: 'runes'}}]">runes</a>
        </li>
      </ul>
    </nav>
    <article class="section--article">
      <router-outlet name="builds"></router-outlet>
    </article>
  </section>
  <section class="slide notes" [appSlide]="currentElement" #notes>
    <h1>NOTES</h1>
    <app-note-list [userChampion]="userChampion"></app-note-list>
  </section>
  <section class="slide counters" [appSlide]="currentElement" #counters>
    <h1>COUNTERS</h1>
  </section>
</main>


<nav class="sidebar">
  <ul>
    <li class="nav__item"
        (click)="scrollToElement(overview)"
        [ngClass]="{'active-link': currentElement===overview}">
      <span class="anchor-text">overview</span></li>

    <li class="nav__item"
        (click)="scrollToElement(spells)"
        [ngClass]="{'active-link': currentElement===spells}">
      <span class="anchor-text">spells</span></li>

    <li class="nav__item"
        (click)="scrollToElement(builds)"
        [ngClass]="{'active-link': currentElement===builds}">
      <span class="anchor-text">builds</span></li>

    <li class="nav__item"
        (click)="scrollToElement(notes)"
        [ngClass]="{'active-link': currentElement===notes}">
      <span class="anchor-text">notes</span></li>

    <li class="nav__item"
        (click)="scrollToElement(counters)"
        [ngClass]="{'active-link': currentElement===counters}">
      <span class="anchor-text">counters</span></li>
  </ul>
</nav>
