@import "./abstracts/variables";

.nav__main {
  position: fixed;
  top: 0;
  right: 0;
  z-index: $search-index;

  li {
    width: 35vw;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1.3rem;

    &:hover {
      background-color: lighten(black, 8);
      border-bottom: 1px solid $color6;
    }
  }

  @media (hover: hover) {
    & {
      display: none;
    }
  }
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.slide--container {
  z-index: $details-main-index;
}

.img-portrait {
  max-width: 120px;
  max-height: 120px;
  margin-right: 1rem;
}

// slides
.slide {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 100vh;
  opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
  display: flex;
  flex-direction: column;
}

.slide.current-slide {
  padding-top: $main-nav-width;
  transform: translateY(-100vh);
  opacity: 1;
}

.section--article {
  flex-grow: 1;
  padding: 0 3rem;
}

//overview section
.champion--header {
  display: flex;
  padding: 1rem;

  .champion--name {
    font-size: 2.5rem;
  }

  .champion--title {
    font-size: 1.2rem;
    display: inline-block;
    padding-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  @media(max-width: 800px) {
  }
}

.nav--inner {
  flex-grow: 1;
  text-transform: uppercase;
  font-size: 1.5rem;
  display: flex;

  ul {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  li {
    padding: 0 1rem;

    &::after {
      content: '';
      display: block;
      background-color: white;
      width: calc(100%);
      height: 1px;
      transform: scale(0);
      transform-origin: right;
      transition: transform 200ms ease-in;
    }

    &:hover::after,
    &:focus::after {
      transform: scale(1);
      transform-origin: left;
    }
  }
}


// main navigation
.sidebar {
  display: none;
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  text-align: right;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 2px;
}

@media (hover: hover) {
  .sidebar {
    display: block !important;
  }
}

.nav__item {
  $nav_item--height: 2rem;
  padding-right: calc(#{$nav_item--height} + 1.5rem);
  display: block;
  line-height: $nav_item--height;
  height: $nav_item--height;
  cursor: pointer;
  position: relative;
  margin: 1.5rem 0;

  &::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: $nav_item--height;
    height: $nav_item--height;
    background-color: rgba(2, 10, 4, .7);
    border: 1px solid $olympic-white;
    transform: rotateZ(45deg);
  }
}

// navigation rhombus elements behaviour during navigation
.nav__item:hover::after,
.nav__item.active-link::after {
  padding: 1px;
  background-color: $olympic-white;
  background-clip: content-box;
}

// text visibility on hover
.anchor-text {
  opacity: 0;
  transition: opacity 200ms ease-in;
}

.sidebar:hover .anchor-text {
  opacity: 1;
}

// builds
.article--builds {
  height: 0;
}
.nav--build {
  z-index: $builds-nav-index;
  ul {
    margin: 3vh auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    a {
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      display: block;
      background: linear-gradient(to right, rgb(233, 100, 67), rgb(144, 78, 149));
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      color: transparent;
    }
    a:hover {
      color: $olympic-white;
    }
    .a--items {
      margin-left: 2rem;
    }
    .a--runes {
      margin-right: 2rem;
    }
    @media(max-width: 540px) {
      & {
        font-size: calc(1em + 20px) !important;
      }
    }
  }
}

.standard-nav {
  display: flex;
}

.burger-nav {
  margin-left: auto;
  display: none;
}

@media(max-width: 800px) {
  .standard-nav {
    display: none !important;
  }
  .burger-nav {
    display: block;
  }
}
