<div *ngIf="item" class="stone">
  <div *ngIf="displayPath" class="path--wrapper">
    <img class="image--path" [src]="pathVfx" alt="vfx">
    <img class="image--path" [src]="pathIcon" alt="keystone">
    <div class="tooltip">
    <span class="path--name">{{item.path}}</span>
  </div>
  </div>
  <div *ngIf="displayRune" class="rune--wrapper">
    <img class="item--image" [src]="item.icon" alt="rune">
    <div class="tooltip">
      <span class="path--name">{{item.key}}</span>
      <p [innerHTML]="item.description"></p>
    </div>
  </div>
</div>
<div *ngIf="!item" class="blank"></div>
