.stone, .blank {
  width: 100%;
  height: 100%;
}
.path--wrapper {
  position: relative;
  .image--path {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
  }
}
.rune--wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  .item--image {
    max-width: 100%;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 .5em .45em 	black;
  }
}
