@import 'abstracts/mixins';

.item-wrapper {
  max-width: 250px;
  cursor: pointer;
  padding: .3rem;
  background-color: rgba(1,1,1,.4);
  $item-height: 64px;
  $item-width: 64px;
  margin: 1rem;
  position: relative;
  font-size: 1rem;
  .placeholder {
    width: $item-width;
    height: $item-height;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $item-height;
    border: 1px solid $error-color;
  }

  img {
    border-radius: 15%;
  }
}

.heading--item {
  display: flex;
  text-transform: uppercase;
  font-weight: 700;

  .name {
    margin-left: 1em;
  }

  .cost {
    margin-left: auto;
  }

  .gold {
    color: gold;
  }
}

.description {
  display: none;
}

.item-wrapper:hover .description {

  @include tooltip;
}
