<div class="item-wrapper" (click)="openSpellDetails(); $event.stopPropagation()">
  <div *ngIf="item">
    <div class="heading--item">
      <img [src]="itemImg" [alt]="item.name">
      <span class="name">{{item.name}}</span>
      <span class="cost">cost: <span class="gold">{{item.gold.base}}</span></span>
    </div>
    <p class="description" [innerHTML]="item.description"></p>
  </div>
  <div *ngIf="!item" class="placeholder">
    <span>+</span>
  </div>
</div>
<app-ability-modal *ngIf="spellDetailsOpened" (modalClose)="closeSpellDetails()">
  <app-item-search (selectedItem)="update($event)"></app-item-search>
</app-ability-modal>
