<form class="form" #noteForm="ngForm" (ngSubmit)="updateNotes(noteForm)">
  <div class="control">
    <label>Title</label>
    <input maxlength="30" name="title" [(ngModel)]="titleText" required #titleRef="ngModel">
    <span class="error-message" *ngIf="!titleRef.valid && titleRef.touched">
      This field cannot be empty.
    </span>
  </div>
  <div class="control">
    <label>Note</label>
    <textarea
      cols="10"
      maxlength="255"
      #noteRef="ngModel"
      name="note"
      [(ngModel)]="noteText"
      required>
      </textarea>
    <span class="error-message" *ngIf="!noteRef.valid && noteRef.touched">
      This field cannot be empty.
    </span>
  </div>
  <div class="form--controls">
    <button type="reset"
      (click)="noteForm.reset()">Reset
    </button>
    <button
      type="submit"
      [disabled]="!noteForm.valid">save</button>
  </div>
</form>
