@import "abstracts/variables";

.burger-nav {
  position: relative;
  .nav {
    z-index: $search-index;
    min-width: 200px;
    top: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: .5em;
    background-color: black;
    ::ng-deep li {
      text-transform: uppercase;
      padding: .5em;
      border-bottom: 1px solid white;
      a {
        display: inline-block;
        width: 100%;
      }
      &:last-child {
        border-bottom: none;
      }
      &:hover,
      &:focus {
        background-color: lighten(black, 12);
      }
    }
  }
  .nav.left {
    left: 0;
    text-align: left;
  }
  .nav.right {
    right: 0;
    text-align: right;
  }
}
.burger {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  font-family: inherit;
  cursor: pointer;
}
.secondary {
  flex-direction: row;
  align-items: center;
  .span--more {
    font-size: 1rem;
    padding-right: .1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: inherit;
  }
  &::after {
    content: '';
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    width: .8rem;
    height: .8rem;
    background-color: $olympic-white;
  }
}
.main {
  .line {
    display: block;
    width: 60px;
    height: 4px;
    background-image: linear-gradient(to right, rgb(233, 100, 67), rgb(144, 78, 149));
    margin: 4px 0;
  }
}
.main.green-blue .line {
  background-image: linear-gradient(to right, #00F260, #0575E6) !important;
}
