<div class="page" (wheel)="$event.stopPropagation()">
  <div class="rune--controls">
    <div class="form--control">
      <label for="title">TITLE:</label>
      <div class="input--wrapper">
        <input id="title" type="text" placeholder="Enter rune page title..."
               [(ngModel)]="pageName" autocomplete="off">
      </div>
    </div>
    <div class="buttons">
      <button class="button--save" (click)="saveRunePage(); $event.stopPropagation()"><span
        data-text="SAVE">SAVE</span></button>
      <button class="button--save discard" (click)="navigate()"><span data-text="DISCARD">DISCARD</span></button>
    </div>
  </div>
  <div class="rune-selection">
    <app-rune-page-primary class="primary" [state]="primaryState"
                           (pageState)="onPrimaryState($event)"></app-rune-page-primary>
    <app-rune-page-secondary class="secondary" [state]="secondaryState"
                             (pageState)="onSecondaryState($event)"></app-rune-page-secondary>
  </div>
</div>

<app-error-modal *ngIf="errorModalOpened" (closeModal)="toggleError()">
  please fill all the fields.
</app-error-modal>
