@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/functions";
.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 2vh;
}
.rune--controls {
  padding: 2vh 0;
  border: 2px solid lighten(black, 20%);
  border-bottom: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .form--control {
    display: inline-flex;
    flex-direction: column;
  }
  .buttons {
    margin-top: 1rem;
    margin-left: 4vw;
    display: flex;
    align-self: flex-end;
  }
  .input--wrapper {
    display: inline-block;
    padding: 2px;
    background-color: $error-color;
    clip-path: clip-rectangle();
  }
  input {
    clip-path: clip-rectangle();
    background: black;
    font-size: .9rem;
    padding: .3rem 1.5rem;
    border: none;
  }
  button {
    transform: skew(-10deg);
    margin-right: 2vw;
    background-color: black;
    width: 100%;
    color: $error-color;
    border: 2px solid $error-color;
    font-size: .9rem;
    padding: .3rem 1.5rem;
    font-weight: 400;
    span {
      @include glitch;
      color: inherit;
    }
      &:hover span {
        &::before {
          left: 2px;
          animation: glitch-anim-1 4s infinite linear alternate-reverse;
          background-color: black;
        }
        &::after {
          left: -2px;
          animation: glitch-anim-2 4s infinite linear alternate-reverse;
          background: black
        }
      }
    }
  }
.rune-selection {
  flex-grow: 1;
  min-height: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 3vh 2vw;
  overflow-y: auto;
  justify-content: center;
  border: 2px solid lighten(black, 20%);
}
.primary, .secondary {
  width: 100%;
  max-width: 800px;
}


