<div class="build">
  <div class="rune--controls">
    <div class="form--control">
      <label for="title">TITLE:</label>
      <div class="input--wrapper">
        <input id="title" type="text" placeholder="Enter build title..."
               [(ngModel)]="build.buildName" autocomplete="off">
      </div>
    </div>
    <div class="buttons">
      <button class="button--save" (click)="save(); $event.stopPropagation()">
        <span data-text="SAVE">SAVE</span>
      </button>
      <button class="button--save discard" [routerLink]="['../', {outlets: {builds: null}}]">
        <span data-text="DISCARD">DISCARD</span>
      </button>
    </div>
  </div>
  <div class="items" (wheel)="$event.stopPropagation()">
    <app-item [(item)]="build.items[0]"></app-item>
    <app-item [(item)]="build.items[1]"></app-item>
    <app-item [(item)]="build.items[2]"></app-item>
    <app-item [(item)]="build.items[3]"></app-item>
    <app-item [(item)]="build.items[4]"></app-item>
    <app-item [(item)]="build.items[5]"></app-item>
  </div>
</div>
<app-error-modal *ngIf="errorModalOpened" (closeModal)="toggleError()">
  please fill all the fields.
</app-error-modal>
