@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";
html {
  font-family: 'Jura', sans-serif;
  font-size: 1.2vw;
}
* {
  color: $olympic-white;
}
label {
  font-size: 1.2em;
}
@media(max-width: 800px) {
  html {
    font-size: 2vw;
  }
}

